/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1[class],
h2[class],
h3[class],
h4[class],
p[class],
ul[class],
ol[class],
li[class],
figure[class],
figcaption[class],
blockquote[class],
dl[class],
dd[class] {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* Remove default fieldset styles */
fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

a:visited:not([class]) {
  color: rgb(0, 0, 238);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

pre {
  overflow-x: auto;
}

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-play-state: paused !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

html,
body {
  height: 100%;
}

/* Make sure that any element that has the `hidden` attribute is actually hidden. In some cases, where a component specifies its own `display` value, this browser default is overrided; this fixes that */
[hidden] {
  display: none !important;
}

/***************************************
* Custom
***************************************/

/* Override default button styles, to make them look like a <div>. See here: https://css-tricks.com/overriding-default-button-styles/ */
button {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background: none;
  font-family: inherit;
  font-size: 100%;
  cursor: pointer;
  color: inherit;
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
}
